<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>xy-color</title>
  </head>
  <body>
    <img src="{{img_src}}"
         width="{{img_width}}"
         height="{{img_height}}">
    <form>
      <p>
        <span>Brightness:</span>
        <span><input type="range" name="brightness"
                     min="{{brightness_range['min']}}"
                     max="{{brightness_range['max']}}"
                     step="{{brightness_range['step']}}"
                     value="{{brightness_range['value']}}"
                     onchange="this.form.submit()"></span>
        <span>{{brightness_range['value']}}</span>
      </p>
      <p>
        <span>Contrast:</span>
        <span><input type="range" name="contrast"
                     min="{{contrast_range['min']}}"
                     max="{{contrast_range['max']}}"
                     step="{{contrast_range['step']}}"
                     value="{{contrast_range['value']}}"
                     onchange="this.form.submit()"></span>
        <span>{{contrast_range['value']}}</span>
      </p>
    </form>
    </script>
  </body>
</html>
